@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
   }

   body{
    background-color: #ececff;
   }

   .center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,50%);
    
   }

   .box{
    position: relative;
    width: 400px;
    height: 200px;
    transform: perspective(500px) rotate(-40deg) skew(25deg);/*на сколько элемент удален от точки обзора*/
    box-shadow: -90px 75px 20px rgba(0, 0, 0, .6);
    background: #fff url(apple2.jpg);
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.5s ease-in-out;
    display: flex;
    cursor: pointer;
    /**/z-index: 0;
   }

   .box:hover{
    transform: perspective(500px) rotate(-40deg) skew(25deg) translate(50px,-50px);
    box-shadow: -150px 115px 100px rgba(0, 0, 0, .3);
    
   }


   .box::before{
    content: '';
    width: 90px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-40deg)translate(-90px,-38px);
    background: #e8e7ec url(right.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
   }
   
   .box::after{
    content: '';
    width: 100% ;
    height: 77px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: skewX(-50deg)translate(45px,76px);
    background: #e8e7ec url(iPhone-logo.png);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
   }

   
   header{
      z-index: 1;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 80px;
      background: #fff;
      padding: 0 50px;
      transition: 0.5s ease-in-out;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

 
  .icon{
      background-color: #444;

  }

  ul{
      display: flex;
  }
   ul li{
      list-style: none;
   }
   ul li:hover{
    text-decoration-line: overline;
    
   }
   ul li a{
      position: relative;
      color: #333;
      padding: 5px 20px;
      font-size: 20px;
      text-decoration: none;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
   }
   .icon  ul li a{
      color: #fff;
   }

   ul li a span{
      transition: 0.5s;

   }

   .icon  ul li a span:nth-child(2){
      transform: translateY(-10px);
   }
   .icon  ul li a span:nth-child(1){
      transform: translateY(-30px);
   }


   .brand{
      position: relative;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
      padding: 5px 0;
      overflow: hidden;
   }

   .brand span{
      transition: 0.5s ease-in-out;
      display: block;
   }

   .brand span:nth-child(1){
      position: absolute;
      transform: translateY(-80px);
      font-size: 25px;

   }
   .icon .brand span:nth-child(2){
      transform: translateY(35px);

   }
   .icon .brand span:nth-child(1){
      transform: translateY(0px);
      color: #fff;

   }

   h1{
    position: relative;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow:  rgba(0, 0, 0, .6);
    transform: translateY(250px);
    font-weight: bold;
    animation: animate 4s linear infinite;
   }
   h2{
    position: relative;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow:  rgba(0, 0, 0, .6);
    transform: translateY(250px);
    animation: animate2 4s linear infinite;
   }

   h1:hover{
    letter-spacing: 8px;
    transition: 0.3s ease-in-out;
    cursor: none;
   }
   h2:hover{
    letter-spacing: 9px;
    transition: 0.4s ease-in-out;
    cursor: none;
    
   }
  /*!!!!*/ @keyframes animate{
    0%{
        letter-spacing: 8px; 
        
    }
    50%{
        letter-spacing: 0px;
    }
    100%{
        letter-spacing: 8px;
    }
}
@keyframes animate2{
    0%{
        letter-spacing: 8px; 
        
    }
    50%{
        letter-spacing: 0px;
    }
    100%{
        letter-spacing: 8px;
    }
}


   .footer {
    width: 100vw;
    height: 130px;
    transform: translateY(850px);
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center
    
}

.footer .wrapper {
    width: 1222px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_wrapper_year {
    width: 182px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_wrapper_icons {
    width: 188px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_wrapper_year_inter {
    color: #000000;
}

.footer_wrapper_year_copy {
    width: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_wrapper_year_2022 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_wrapper_year_github {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_wrapper_icons_ico {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center
}

.footer_wrapper_icons_ico:hover{
    transform: scale(0.8);
    transition: 0.5s;
    

}

.boxModal{

    width: 600px;
    height: 800px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    
}


#bg_popup{
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }
      
    #popup {
    justify-content: center;
    background: #333;
    color: #fff;
    width: 520px;
    margin: 25% auto;
    padding: 5px 20px 13px 20px;
    border: 3px solid  #017143;
    position: relative;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    }
      
    .close{
    display:block;
    position:absolute;
    color:#fff;
    top:-12px;
    right:5px;
    width:45px;
    height:25px;
    line-height:28px;
    background: #017143;
    cursor:pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    text-decoration: none;
    }
    .close:hover {
    background-color:rgb(5, 68, 29);
    } 

   
